params {

    proj_root = "/path/to/your/project"
    
    // Bin size for GATK CNV analysis - 10kb is standard for WGS at 30-60x coverage
    bin_size = 10000

    // Reads and references
    OS39_index = "${proj_root}/refs/OS39.cram.crai"
    OS39_md5sum = "${proj_root}/refs/OS39.cram.md5sum"
    OS39_cram = "${proj_root}/refs/OS39.cram"
    ref = "${proj_root}/refs/Homo_sapiens_assembly38.fasta"
    ref_index = "${proj_root}/refs/Homo_sapiens_assembly38.fasta.fai"
    mouse_ref = "${proj_root}/refs/mm39.fa.gz"
    human_ref = "${proj_root}/refs/Homo_sapiens_assembly38.fasta.gz"
    samplesheet = "${proj_root}/samplesheet.csv"
    pon = "${proj_root}/refs/1000g_pon.hg38.vcf.gz"
    pon_index = "${proj_root}/refs/1000g_pon.hg38.vcf.gz.tbi"
    snps = "${proj_root}/refs/small_exac_common_3.hg38.vcf.gz"
    snps_index = "${proj_root}/refs/small_exac_common_3.hg38.vcf.gz.tbi"
    dict = "${proj_root}/refs/Homo_sapiens_assembly38.dict"
    matched_normals = "${proj_root}/matched_normal.csv"
    common_var = "${proj_root}/refs/gnomad.v4.1.sv.sites.vcf.gz"
    common_var_index = "${proj_root}/refs/gnomad.v4.1.sv.sites.vcf.gz.tbi"
    repeat_regions = "${proj_root}/refs/hg38_repeat_masker.bed.txt"
    bwa_index_csv = "${proj_root}/bwa_index.csv"
    common_sv_bed = "${proj_root}/refs/gnomad.v4.1.sv.sites.subset.bed"
    find_overlapping = "${proj_root}/scripts/find_overlapping_common_SV.R"
    samplesheet_PDX = "${proj_root}/samplesheet_PDX_BAM.csv"
    af_only_gnomad = "${proj_root}/refs/af-only-gnomad.hg38.vcf.gz"
    af_only_gnomad_index = "${proj_root}/refs/af-only-gnomad.hg38.vcf.gz.tbi"
    dbsnp = "${proj_root}/refs/Homo_sapiens_assembly38.dbsnp138.vcf"
    dbsnp_idx = "${proj_root}/refs/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
    table_annovar = "${proj_root}/refs/annovar/table_annovar.pl"
    convert2annovar = "${proj_root}/refs/annovar/convert2annovar.pl"
    annotate_variant = "${proj_root}/refs/annovar/annotate_variation.pl"
    coding_change = "${proj_root}/refs/annovar/coding_change.pl"
    retrieve_seq_from_fasta = "${proj_root}/refs/annovar/retrieve_seq_from_fasta.pl"
    variants_reduction = "${proj_root}/refs/annovar/variants_reduction.pl"
    fix_svaba_ins = "${proj_root}/scripts/fix_svaba_ins.sh"
    PDX_varannot = "${proj_root}/PDX_varannot_WG.csv"

    // Directories
    annotsv_dir = "${proj_root}/refs/annotsv/AnnotSV_annotations"
    seq_files = "${proj_root}/refs/*"
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
    bwa_index = "${proj_root}/refs/bwa_index/*"
    results_dir = './results'
    manta_dir = "${proj_root}/results/manta"
    survivor_dir = "${proj_root}/results/survivor"
    samtools_dir = "${proj_root}/results/samtoolsbam"
    humandb_dir = "${proj_root}/refs/annovar/humandb"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P your_project_group -l h_rt=96:00:00 -l mem_per_core=4G'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4
                }
                withLabel: process_medium {
                    cpus = 8
                }

                withLabel: process_high {
                    cpus = 16
                }
                withLabel: process_bbmap {
                    cpus = 28
                    clusterOptions = "-P your_project_group -l h_rt=96:00:00 -l mem_per_core=18G"
                }

                withLabel: process_superhigh {
                    cpus = 32
                }

                withName: GATK_MUTECT2 {
                    clusterOptions = '-P your_project_group -l h_rt=96:00:00 -l mem_per_core=4G'
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true

docker.pull = true